@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.slide-left-1 {
  animation: 1s slide-left-1;
}
@keyframes slide-left-1 {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left-2 {
  animation: 2.1s slide-left-2;
}
@keyframes slide-left-2 {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left-3 {
  animation: 2.3s slide-left-3;
}
@keyframes slide-left-3 {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left-4 {
  animation: 2.5s slide-left-4;
}
@keyframes slide-left-4 {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left-5 {
  animation: 2.7s slide-left-5;
}
@keyframes slide-left-5 {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.fade-in {
  animation: fadeIn ease 3s;
}
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}
